i{
    text-transform: capitalize;
}

#data{
    max-width: 20%;
}

#painelAlimentoQuantidade{
    margin-top: 20px;
    display: none;
}

.pontuacao_alimento{
    color: #ccc;
    font-style: italic;
}

#painelAlimentoSelecionado{
    display: none;
    margin-top: 20px;
}

#painelAlimentoSelecionado table{
    width: 100%;
    text-align: center;
}

#painelAlimentoSelecionado table th,
#painelAlimentoSelecionado table td{
    text-align: center;
}

#alimentos{
    height: 100px !important;
    overflow-y: scroll;

}

#alimentos a{
    text-align: center;
}


#quantidade{
    width: 30%;

}

#medida{
    float:right;
}

.clear{clear: both;}
